body {
    padding-bottom: 150px;
}

.hyt-home {
    background-size: 100% 100%;
    background: url(/home.jpg) no-repeat;
    text-align: center;
    border-radius: 20px;
}

.hyt-home-content {
    text-align: center;
    margin: 150px 50px 50px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    display: inline-block;
    color: #eee;
    border-radius: 20px;
}

.hyt-title {
    text-align: center;
    font-size: 5rem;
    padding-top: 30px;
}

.hyt-proposal-picture {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 500px;
}

.hyt-proposal-title {
    font-size: 3rem;
    text-align: center;
}

.hyt-answer-title {
    font-size: 3rem;
}

.hyt-answer-picture {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 500px;
}

.hyt-answer-hightlight {
    font-weight: bold; 
}

.hyt-content {
    font-size: 2rem;
    text-align: justify;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.hyt-proposal-people a::after {
    content: ", "
}

.hyt-proposal-people:last-child a::after {
     content: "."
 }

.hyt-proposal-registerButton, .hyt-answer-proposeButton {
    padding: 10px 40px;
    font-size: 3rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

@media screen and (max-width: 570px) {
    .hyt-home-content {
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .hyt-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}